useDynLib(VICatMix, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(klaR, kmodes)
importFrom(mcclust, medv)
importFrom(mcclust, comp.psm)
importFrom(matrixStats, rowLogSumExps)
importFrom(stats, rbeta)
importFrom(stats, rbinom)
importFrom(stats, hclust)
importFrom(stats, as.dist)
importFrom(stats, cutree)
importFrom(gtools, rdirichlet)
exportPattern("^[[:alpha:]]+")
